<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Product</title>
</head>
<body>
<h1>List Product</h1>
<p>
    <a th:href="@{/product/add}">Add Product</a>
</p>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
    <tr th:each="product : ${products}" th:object="${product}">
        <td th:text="*{id}"></td>
        <td th:text="*{name}"></td>
        <td th:text="*{price}"></td>
        <td th:text="*{quantity}"></td>
    </tr>
</table>
</body>
</html>